* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
}

#app {
	display: flex;
	align-items: center;
	gap: 8em;
}

.board {
	display: grid;
	grid-template-columns: repeat(10, 2em);
}

.board.disabled {
	pointer-events: none;
	opacity: 0.3;
	cursor: not-allowed;
}

.cell {
	height: 2em;
	width: 2em;
	border-right: 1px solid #107fff8e;
	border-bottom: 1px solid #107fff8e;
	position: relative;
}

.cell:nth-child(-n + 10) {
	border-top: 1px solid #107fff8e;
}

.cell:nth-child(10n + 1) {
	border-left: 1px solid #107fff8e;
}

.cell.ship {
	outline: 1px solid #0065d8;
	border: 1px solid #0065d8;
}

.cell.miss::after {
	content: "";
	width: 6px;
	height: 6px;
	background-color: #555;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#computerBoard > .cell {
	cursor: pointer;
}

#computerBoard > .cell:hover {
	outline: 1px solid #0065d8;
	border: 1px solid #0065d8;
}
